{% extends "base/base.html" %}

{% block content %}
<div class="landing-text">
  <h1>Resumate!</h1>
  <p>Unlock your career potential.</p>
  <button class="btn btn-secondary btn-lg" style="margin-left: 785px;">Get Started</button>
  <button class="btn btn-warning btn-lg" style="margin-left: 10px;">Resume AI Review!</button>
</div>
<img style="display: flex; justify-content: center; margin: auto;
padding-top: 50px;"src="https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/65613/resumes-clipart-md.png">






{% endblock content %}